DATABASE_URL=your_neon_connection_string
AUTH_SECRET=your_auth_secret
AUTH_TRUST_HOST=true
AUTH_URL=http://localhost:3000
# NEXTAUTH_URL=http://localhost:3000
APP_URL=http://localhost:3000
EMAIL_FROM=your-verified-sender@example.com
RESEND_API_KEY=your_resend_api_key
