NEXT_PUBLIC_SUPABASE_URL=https://ifmquolhnfwccgdeadme.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlmbXF1b2xobmZ3Y2NnZGVhZG1lIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY5NTkyNTgsImV4cCI6MjA5MjUzNTI1OH0.oaYEyMb1kYF3Y04Y27kWqOe7E4Sh6xLg_kydgvhlJ64
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlmbXF1b2xobmZ3Y2NnZGVhZG1lIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3Njk1OTI1OCwiZXhwIjoyMDkyNTM1MjU4fQ.r8hzjYmICRN5V6lOSiCeTBA-PB1O6JKPf0cgl-4Azn4
